.scale-1 {
  background-color: rgb(89,138,197) /* #5989C5 */
}
.scale-2 {
  background-color: rgb(100,145,202)
}
.scale-3 {
  background-color: rgb(111,150,205)
}
.scale-4 {
  background-color: rgb(122,160,209)
}
.scale-5 {
  background-color: rgb(130,167,212)
}
.scale-6 {
  background-color: rgb(142,174,215)
}
.scale-7 {
  background-color: rgb(150,182,220)
}
.scale-8 {
  background-color: rgb(163,189,222)
}
.scale-9 {
  background-color: rgb(173,196,227)
}
.scale-10 {
  background-color: rgb(184,203,233)
}
.scale-11 {
  background-color: rgb(195,211,236)
}
.scale-12 {
  background-color: rgb(203,219,235)
}
.scale-13 {
  background-color: rgb(215,227,243)
}
.scale-14 {
  background-color: rgb(225,233,244)
}
.scale-15 {
  background-color: rgb(237,240,249)
}
.scale-16 {
  background-color: rgb(245,248,253)
}
.scale-17 {
  background-color: rgb(253,248,252)
}
.scale-18 {
  background-color: rgb(253,238,241)
}
.scale-19 {
  background-color: rgb(251,228,234)
}
.scale-20 {
  background-color: rgb(250,220,222)
}
.scale-21 {
  background-color: rgb(251,210,214)
}
.scale-22 {
  background-color: rgb(251,201,204)
}
.scale-23 {
  background-color: rgb(251,191,191)
}
.scale-24 {
  background-color: rgb(250,181,184)
}
.scale-25 {
  background-color: rgb(251,172,175)
}
.scale-26 {
  background-color: rgb(251,162,166)
}
.scale-27 {
  background-color: rgb(248,153,157)
}
.scale-28 {
  background-color: rgb(247,145,143)
}
.scale-29 {
  background-color: rgb(249,134,137)
}
.scale-30 {
  background-color: rgb(249,125,127)
}
.scale-31 {
  background-color: rgb(248,116,114)
}
.scale-32 {
  background-color: rgb(248,105,111) /* #F8696F */
}
