.scale-1 {
  background-color: rgb(99,189,125)
}
.scale-2 {
  background-color: rgb(110,193,123)
}
.scale-3 {
  background-color: rgb(117,198,122)
}
.scale-4 {
  background-color: rgb(131,199,124)
}
.scale-5 {
  background-color: rgb(140,202,125)
}
.scale-6 {
  background-color: rgb(151,205,127)
}
.scale-7 {
  background-color: rgb(160,209,127)
}
.scale-8 {
  background-color: rgb(171,210,127)
}
.scale-9 {
  background-color: rgb(182,215,128)
}
.scale-10 {
  background-color: rgb(192,216,128)
}
.scale-11 {
  background-color: rgb(202,221,129)
}
.scale-12 {
  background-color: rgb(213,222,129)
}
.scale-13 {
  background-color: rgb(221,226,132)
}
.scale-14 {
  background-color: rgb(234,228,130)
}
.scale-15 {
  background-color: rgb(242,233,130)
}
.scale-16 {
  background-color: rgb(254,235,132)
}
.scale-17 {
  background-color: rgb(255,227,130)
}
.scale-18 {
  background-color: rgb(255,218,129)
}
.scale-19 {
  background-color: rgb(253,211,129)
}
.scale-20 {
  background-color: rgb(254,200,126)
}
.scale-21 {
  background-color: rgb(252,192,122)
}
.scale-22 {
  background-color: rgb(253,185,124)
}
.scale-23 {
  background-color: rgb(251,175,123)
}
.scale-24 {
  background-color: rgb(252,166,119)
}
.scale-25 {
  background-color: rgb(251,159,118)
}
.scale-26 {
  background-color: rgb(252,149,116)
}
.scale-27 {
  background-color: rgb(249,141,115)
}
.scale-28 {
  background-color: rgb(250,131,111)
}
.scale-29 {
  background-color: rgb(249,123,111)
}
.scale-30 {
  background-color: rgb(249,114,110)
}
.scale-31 {
  background-color: rgb(250,104,107)
}
