/*Ducks*/
.bg_nhl_ani_primary {
  background-color: #B9975B
}

.bg_nhl_ani_secondary {
  background-color: #F47A38
}

.bg_nhl_ani_tertiary {
  background-color: #C1C6C8
}

/*Coyotes*/
.bg_nhl_ari_primary {
  background-color: #8C2633
}

.bg_nhl_ari_secondary {
  background-color: #E2D6B5
}

.bg_nhl_ari_tertiary {
  background-color: #111111
}

/*Bruins*/
.bg_nhl_bos_primary {
  background-color: #FFB81C
}

.bg_nhl_bos_secondary {
  background-color: #000000
}

.bg_nhl_bos_tertiary {
  background-color: #ffffff
}

/*Sabres*/
.bg_nhl_buf_primary {
  background-color: #003087
}

.bg_nhl_buf_secondary {
  background-color: #F3D03E
}

.bg_nhl_buf_tertiary {
  background-color: #ffffff
}

/*Flames*/
.bg_nhl_cgy_primary {
  background-color: #C8102E
}

.bg_nhl_cgy_secondary {
  background-color: #F1BE48
}

.bg_nhl_cgy_tertiary {
  background-color: #111111
}

/*Hurricanes*/
.bg_nhl_car_primary {
  background-color: #CC0000
}

.bg_nhl_car_secondary {
  background-color: #000000
}

.bg_nhl_car_tertiary {
  background-color: #ffffff
}

/*Avalanche*/
.bg_nhl_col_primary {
  background-color: #6F263D
}

.bg_nhl_col_secondary {
  background-color: #236192
}

.bg_nhl_col_tertiary {
  background-color: #A2AAAD
}

/*Blue Jackets*/
.bg_nhl_cbj_primary {
  background-color: #002654
}

.bg_nhl_cbj_secondary {
  background-color: #CE1126
}

.bg_nhl_cbj_tertiary {
  background-color: #A4A9AD
}

/*Stars*/
.bg_nhl_dal_primary {
  background-color: #006847
}

.bg_nhl_dal_secondary {
  background-color: #8F8F8C
}

.bg_nhl_dal_tertiary {
  background-color: #111111
}

/*Red Wings*/
.bg_nhl_det_primary {
  background-color: #CE1126
}

.bg_nhl_det_secondary {
  background-color: #ffffff
}

.bg_nhl_det_tertiary {
  background-color: #ffffff
}

/*Oilers*/
.bg_nhl_edm_primary {
  background-color: #041E42
}

.bg_nhl_edm_secondary {
  background-color: #FF4C00
}

.bg_nhl_edm_tertiary {
  background-color: #ffffff
}

/*Panthers*/
.bg_nhl_fla_primary {
  background-color: #041E42
}

.bg_nhl_fla_secondary {
  background-color: #B9975B
}

.bg_nhl_fla_tertiary {
  background-color: #C8102E
}

/*Kings*/
.bg_nhl_lak_primary {
  background-color: #111111
}

.bg_nhl_lak_secondary {
  background-color: #A2AAAD
}

.bg_nhl_lak_tertiary {
  background-color: #ffffff
}

/*Wild*/
.bg_nhl_min_primary {
  background-color: #154734
}

.bg_nhl_min_secondary {
  background-color: #EAAA00
}

.bg_nhl_min_tertiary {
  background-color: #A6192E
}

/*Canadiens*/
.bg_nhl_mtl_primary {
  background-color: #AF1E2D
}

.bg_nhl_mtl_secondary {
  background-color: #192168
}

.bg_nhl_mtl_tertiary {
  background-color: #ffffff
}

/*Predators*/
.bg_nhl_nsh_primary {
  background-color: #FFB81C
}

.bg_nhl_nsh_secondary {
  background-color: #041E42
}

.bg_nhl_nsh_tertiary {
  background-color: #ffffff
}

/*Devils*/
.bg_nhl_nj_primary {
  background-color: #CE1126
}

.bg_nhl_nj_secondary {
  background-color: #000000
}

.bg_nhl_nj_tertiary {
  background-color: #ffffff
}

/*Islanders*/
.bg_nhl_nyi_primary {
  background-color: #00539B
}

.bg_nhl_nyi_secondary {
  background-color: #F47D30
}

.bg_nhl_nyi_tertiary {
  background-color: #ffffff
}

/*Rangers*/
.bg_nhl_nyr_primary {
  background-color: #0038A8
}

.bg_nhl_nyr_secondary {
  background-color: #CE1126
}

.bg_nhl_nyr_tertiary {
  background-color: #ffffff
}

/*Senators*/
.bg_nhl_ott_primary {
  background-color: #C52032
}

.bg_nhl_ott_secondary {
  background-color: #C2912C
}

.bg_nhl_ott_tertiary {
  background-color: #000000
}

/*Flyers*/
.bg_nhl_phi_primary {
  background-color: #F74902
}

.bg_nhl_phi_secondary {
  background-color: #000000
}

.bg_nhl_phi_tertiary {
  background-color: #ffffff
}

/*Penguins*/
.bg_nhl_pit_primary {
  background-color: #FCB514
}

.bg_nhl_pit_secondary {
  background-color: #000000
}

.bg_nhl_pit_tertiary {
  background-color: #ffffff
}

/*Blues*/
.bg_nhl_stl_primary {
  background-color: #002F87
}

.bg_nhl_stl_secondary {
  background-color: #FCB514
}

.bg_nhl_stl_tertiary {
  background-color: #041E42
}

/*Sharks*/
.bg_nhl_sj_primary {
  background-color: #006D75
}

.bg_nhl_sj_secondary {
  background-color: #EA7200
}

.bg_nhl_sj_tertiary {
  background-color: #000000
}

/*Kraken*/
.bg_nhl_sea_primary {
  background-color: #99D9D9
}

.bg_nhl_sea_secondary {
  background-color: #001628
}

.bg_nhl_sea_tertiary {
  background-color: #355464
}

/*Lightning*/
.bg_nhl_tb_primary {
  background-color: #002868
}

.bg_nhl_tb_secondary {
  background-color: #ffffff
}

.bg_nhl_tb_tertiary {
  background-color: #000000
}

/*Leafs*/
.bg_nhl_tor_primary {
  background-color: #00205B
}

.bg_nhl_tor_secondary {
  background-color: #ffffff
}

.bg_nhl_tor_tertiary {
  background-color: #000000
}

/*Canucks*/
.bg_nhl_van_primary {
  background-color: #00205B
}

.bg_nhl_van_secondary {
  background-color: #00843D
}

.bg_nhl_van_tertiary {
  background-color: #041C2C
}

/*Golden Knights*/
.bg_nhl_vgk_primary {
  background-color: #B4975A
}

.bg_nhl_vgk_secondary {
  background-color: #333F42
}

.bg_nhl_vgk_tertiary {
  background-color: #C8102E
}

/*Capitals*/
.bg_nhl_wsh_primary {
  background-color: #041E42
}

.bg_nhl_wsh_secondary {
  background-color: #C8102E
}

.bg_nhl_wsh_tertiary {
  background-color: #ffffff
}

/*Jets*/
.bg_nhl_wpg_primary {
  background-color: #041E42
}

.bg_nhl_wpg_secondary {
  background-color: #AC162C
}

.bg_nhl_wpg_tertiary {
  background-color: #004C97
}
