<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static', filename='images/chat_logo.ico') }}">

    <!-- d3 import -->
    <script src="https://d3js.org/d3.v4.js"></script>

    <title>Sports Analytics</title>
    {% endblock %}
  </head>
  <body>

    <div id="content">
      <main class="col-sm-12 col-md-12 pt-3" role="main">
        {% block content %}{% endblock %}
      </main>
    </div>

    {% block scripts %}
    <!-- d3 import -->
    <script src="https://d3js.org/d3.v4.js"></script>
    {% endblock %}
  </body>
</html>
