<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Analytics</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('nhl_team') }}">NHL Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('nhl_game') }}">NHL Game</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('nfl') }}">NFL</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
