{% extends "base.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row mb-1">
      <h1>NFL {{league_stats.season}} Data</h1>
    </div>
    <div class="row mb-1" style="display:none">
      <div class="col"><button type="button" id="drawLeagueChartsButton" class="btn btn-primary" onclick="drawCharts({{ league_stats }})">draw</button></div>
      <div class="col"></div>
    </div>
    <div class="row mb-1">
      <canvas id="epa_chart"></canvas>
    </div>
    <div class="row mb-1">
      <canvas id="cpoe_chart"></canvas>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <!-- Custom JavaScript -->
  <script src="{{ url_for('static', filename='js/nfl_league.js') }}"></script>
{% endblock %}
