<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom: 1px solid #808080">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NFL', team='ARI') }}">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/7/72/Arizona_Cardinals_logo.svg/179px-Arizona_Cardinals_logo.svg.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NFL', team='ATL') }}">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c5/Atlanta_Falcons_logo.svg/192px-Atlanta_Falcons_logo.svg.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NFL', team='BAL') }}">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/16/Baltimore_Ravens_logo.svg/193px-Baltimore_Ravens_logo.svg.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NFL', team='BUF') }}">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/7/77/Buffalo_Bills_logo.svg/189px-Buffalo_Bills_logo.svg.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NFL', team='CAR') }}">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/1c/Carolina_Panthers_logo.svg/100px-Carolina_Panthers_logo.svg.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NFL', team='CHI') }}">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Chicago_Bears_logo.svg/100px-Chicago_Bears_logo.svg.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NFL', team='CIN') }}">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/Cincinnati_Bengals_logo.svg/100px-Cincinnati_Bengals_logo.svg.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NFL', team='CLE') }}">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/d9/Cleveland_Browns_logo.svg/100px-Cleveland_Browns_logo.svg.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NFL', team='DAL') }}">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Dallas_Cowboys.svg/100px-Dallas_Cowboys.svg.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NFL', team='DEN') }}">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/44/Denver_Broncos_logo.svg/100px-Denver_Broncos_logo.svg.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NFL', team='DET') }}">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/7/71/Detroit_Lions_logo.svg/100px-Detroit_Lions_logo.svg.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NFL', team='GB') }}">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Green_Bay_Packers_logo.svg/100px-Green_Bay_Packers_logo.svg.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NFL', team='HOU') }}">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/28/Houston_Texans_logo.svg/100px-Houston_Texans_logo.svg.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NFL', team='IND') }}">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Indianapolis_Colts_logo.svg/100px-Indianapolis_Colts_logo.svg.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NFL', team='JAX') }}">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/7/74/Jacksonville_Jaguars_logo.svg/100px-Jacksonville_Jaguars_logo.svg.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NFL', team='KC') }}">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e1/Kansas_City_Chiefs_logo.svg/100px-Kansas_City_Chiefs_logo.svg.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NFL', team='LAC') }}">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/7/72/NFL_Chargers_logo.svg/100px-NFL_Chargers_logo.svg.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NFL', team='LA') }}">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/8a/Los_Angeles_Rams_logo.svg/100px-Los_Angeles_Rams_logo.svg.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NFL', team='MIA') }}">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/37/Miami_Dolphins_logo.svg/100px-Miami_Dolphins_logo.svg.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NFL', team='MIN') }}">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/48/Minnesota_Vikings_logo.svg/98px-Minnesota_Vikings_logo.svg.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NFL', team='NE') }}">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b9/New_England_Patriots_logo.svg/100px-New_England_Patriots_logo.svg.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NFL', team='NO') }}">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/New_Orleans_Saints_logo.svg/98px-New_Orleans_Saints_logo.svg.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NFL', team='NYG') }}">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/New_York_Giants_logo.svg/100px-New_York_Giants_logo.svg.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NFL', team='NYJ') }}">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/6b/New_York_Jets_logo.svg/100px-New_York_Jets_logo.svg.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NFL', team='LV') }}">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/48/Las_Vegas_Raiders_logo.svg/150px-Las_Vegas_Raiders_logo.svg.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NFL', team='PHI') }}">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/8e/Philadelphia_Eagles_logo.svg/100px-Philadelphia_Eagles_logo.svg.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NFL', team='PIT') }}">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Pittsburgh_Steelers_logo.svg/100px-Pittsburgh_Steelers_logo.svg.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NFL', team='SF') }}">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/San_Francisco_49ers_logo.svg/100px-San_Francisco_49ers_logo.svg.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NFL', team='SEA') }}">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/8e/Seattle_Seahawks_logo.svg/100px-Seattle_Seahawks_logo.svg.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NFL', team='TB') }}">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a2/Tampa_Bay_Buccaneers_logo.svg/100px-Tampa_Bay_Buccaneers_logo.svg.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NFL', team='TEN') }}">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c1/Tennessee_Titans_logo.svg/100px-Tennessee_Titans_logo.svg.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NFL', team='WSH') }}">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Washington_football_team_wlogo.svg/1024px-Washington_football_team_wlogo.svg.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
      </ul>
    </div>

</nav>
