{% extends "base.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

{% include 'nhl_teams_nav.html' %}

  <div class="container">
    <div class="row mb-1">
      <h1>NHL {{league_stats.season}} Data</h1>
    </div>
    <div class="row mb-1" style="display:none">
      <div class="col"><button type="button" id="drawLeagueChartsButton" class="btn btn-primary" onclick="drawCharts({{ league_stats }})">draw</button></div>
      <div class="col"></div>
    </div>
    <div class="row mb-1">
      <canvas id="rolling_xGF_chart"></canvas>
    </div>
    <div class="row mb-1">
      <canvas id="goal_share_chart"></canvas>
    </div>
    <div class="row mb-1">
      <canvas id="xgoal_share_chart"></canvas>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <!-- Custom JavaScript -->
  <script src="{{ url_for('static', filename='js/nhl_league.js') }}"></script>
{% endblock %}
