<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom: 1px solid #808080">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NHL', team='ANA') }}">
            <img src="http://peter-tanner.com/moneypuck/logos/ANA.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NHL', team='ARI') }}">
            <img src="http://peter-tanner.com/moneypuck/logos/ARI.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NHL', team='BOS') }}">
            <img src="http://peter-tanner.com/moneypuck/logos/BOS.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NHL', team='BUF') }}">
            <img src="http://peter-tanner.com/moneypuck/logos/BUF.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NHL', team='CGY') }}">
            <img src="http://peter-tanner.com/moneypuck/logos/CGY.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NHL', team='CAR') }}">
            <img src="http://peter-tanner.com/moneypuck/logos/CAR.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NHL', team='CHI') }}">
            <img src="http://peter-tanner.com/moneypuck/logos/CHI.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NHL', team='COL') }}">
            <img src="http://peter-tanner.com/moneypuck/logos/COL.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NHL', team='CBJ') }}">
            <img src="http://peter-tanner.com/moneypuck/logos/CBJ.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NHL', team='DAL') }}">
            <img src="http://peter-tanner.com/moneypuck/logos/DAL.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NHL', team='DET') }}">
            <img src="http://peter-tanner.com/moneypuck/logos/DET.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NHL', team='EDM') }}">
            <img src="http://peter-tanner.com/moneypuck/logos/EDM.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NHL', team='FLA') }}">
            <img src="http://peter-tanner.com/moneypuck/logos/FLA.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NHL', team='LA') }}">
            <img src="http://peter-tanner.com/moneypuck/logos/LAK.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NHL', team='MIN') }}">
            <img src="http://peter-tanner.com/moneypuck/logos/MIN.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NHL', team='MTL') }}">
            <img src="http://peter-tanner.com/moneypuck/logos/MTL.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NHL', team='NSH') }}">
            <img src="http://peter-tanner.com/moneypuck/logos/NSH.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NHL', team='NJ') }}">
            <img src="http://peter-tanner.com/moneypuck/logos/NJD.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NHL', team='NYI') }}">
            <img src="http://peter-tanner.com/moneypuck/logos/NYI.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NHL', team='NYR') }}">
            <img src="http://peter-tanner.com/moneypuck/logos/NYR.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NHL', team='OTT') }}">
            <img src="http://peter-tanner.com/moneypuck/logos/OTT.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NHL', team='PHI') }}">
            <img src="http://peter-tanner.com/moneypuck/logos/PHI.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NHL', team='PIT') }}">
            <img src="http://peter-tanner.com/moneypuck/logos/PIT.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NHL', team='STL') }}">
            <img src="http://peter-tanner.com/moneypuck/logos/STL.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NHL', team='SJ') }}">
            <img src="http://peter-tanner.com/moneypuck/logos/SJS.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NHL', team='TB') }}">
            <img src="http://peter-tanner.com/moneypuck/logos/TBL.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NHL', team='TOR') }}">
            <img src="http://peter-tanner.com/moneypuck/logos/TOR.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NHL', team='VAN') }}">
            <img src="http://peter-tanner.com/moneypuck/logos/VAN.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NHL', team='VGK') }}">
            <img src="http://peter-tanner.com/moneypuck/logos/VGK.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NHL', team='WSH') }}">
            <img src="http://peter-tanner.com/moneypuck/logos/WSH.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('league', league='NHL', team='WPG') }}">
            <img src="http://peter-tanner.com/moneypuck/logos/WPG.png" width="35" class="d-inline-block align-middle" alt="">
          </a>
        </li>
      </ul>
    </div>

</nav>
